<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/mypage.css' %}" />
    <title>Document</title>
</head>
    <body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'home' %}">취업빽</a></h1>
						<nav class="links">
							<ul>
								<li><a href="{% url 'home' %}">HOME</a></li>
								<li><a href="#">COMMUNITY</a></li>
								<li><a href="{% url 'mypage' %}">MYPAGE</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<!-- <section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section> -->


						<!-- Actions -->
						<section>
							<ul class="actions stacked">
								<li><a href="{% url 'login' %}" class="button large fit">Log In</a></li>
							</ul>
						</section>


						<!-- Links -->
							<section>

								
								<ul class="links">
									<li>
										<a href="#">
											<h3>[스크랩북]AI</h3>
											<p>2020-10-18부터 수집한 AI 기사들</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Dolor sit amet</h3>
											<p>Sed vitae justo condimentum</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Feugiat veroeros</h3>
											<p>Phasellus sed ultricies mi congue</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Etiam sed consequat</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>


					</section>


					<!-- Main -->
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap">
                            <div class="col-md-3 col-xl-2 bd-sidebar">
                                <div class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                                    <div class="bd-toc-item">   
                                        <img src="{% static "img/home-black-18dp.svg" %}">
                                        <a class="bd-toc-link" href="#">
                                            나의 스크랩
                                        </a>
                                    </div>
                                    <div class="bd-toc-item">
                                        <img src="{% static "img/move_to_inbox-black-18dp.svg" %}">
                                        <a class="bd-toc-link" href="#">
                                            아카이브
                                        </a>
                                    </div>
                                    <div class="bd-toc-item">
                                        <a class="bd-toc-link" href="#">
                                            나의 스크랩
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class='content_container'>
                                
                                <div class='news_major1'>
                                    <div class="col mb-4">
                                        <div class="card" style="width: 18rem;">
                                            <img src="https://imgnews.pstatic.net/image/001/2020/10/20/PYH2020101919630001300_P4_20201020155230789.jpg?type=w647" class="card-img-top" width="100%" height="180" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">스크랩 북 제목 A</h5>
                                                <p class="card-text">스크랩 북에 대한 간단한 정보를 적으면 될 것 같다.</p>
                                                <a href="#" class="btn btn-primary">스크랩 북 열기</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col mb-4">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{% static "img/파멸고양이.jpg" %}" class="card-img-top" width="100%" height="180" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">스크랩 북 제목 B</h5>
                                                <p class="card-text">스크랩 북에 대한 간단한 정보를 적으면 될 것 같다.</p>
                                                <a href="#" class="btn btn-primary">스크랩 북 열기</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col mb-4">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{% static "img/파멸고양이.jpg" %}" class="card-img-top" width="100%" height="180" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">스크랩 북 제목 C</h5>
                                                <p class="card-text">스크랩 북에 대한 간단한 정보를 적으면 될 것 같다.</p>
                                                <a href="#" class="btn btn-primary">스크랩 북 열기</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col mb-4">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{% static "img/파멸고양이.jpg" %}" class="card-img-top" width="100%" height="180" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">스크랩 북 제목 D</h5>
                                                <p class="card-text">스크랩 북에 대한 간단한 정보를 적으면 될 것 같다.</p>
                                                <a href="#" class="btn btn-primary">스크랩 북 열기</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col mb-4">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{% static "img/파멸고양이.jpg" %}" class="card-img-top" width="100%" height="180" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">스크랩 북 제목 D</h5>
                                                <p class="card-text">스크랩 북에 대한 간단한 정보를 적으면 될 것 같다.</p>
                                                <a href="#" class="btn btn-primary">스크랩 북 열기</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                                <div class='news_total' style="margin-top: 80px;">
                                    <header class="major">
                                        <h2>종합 뉴스</h2>
                                    </header>
                                        <div class="row">
                                            <div class="col-6 col-12-small">
                                                <section class="box">
                                                    <header>
                                                        <h3>Magna tempus consequat</h3>
                                                        <p>Posted 45 minutes ago</p>
                                                    </header>
                                                    <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
                                                    <footer>
                                                        <ul class="actions">
                                                            <li><a href="#" class="button icon solid fa-file-alt">Continue Reading</a></li>
                                                            <li><a href="#" class="button alt icon solid fa-comment">33 comments</a></li>
                                                        </ul>
                                                    </footer>
                                                </section>
                                            </div>
                                            <div class="col-6 col-12-small">
                                                <section class="box">
                                                    <header>
                                                        <h3>Aptent veroeros aliquam</h3>
                                                        <p>Posted 45 minutes ago</p>
                                                    </header>
                                                    <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
                                                    <footer>
                                                        <ul class="actions">
                                                            <li><a href="#" class="button icon solid fa-file-alt">Continue Reading</a></li>
                                                            <li><a href="#" class="button alt icon solid fa-comment">33 comments</a></li>
                                                        </ul>
                                                    </footer>
                                                </section>
                                            </div>
                                        </div>
                                    </div>


                                

                                <!-- Pagination -->
                                    <div class='pagination'>
                                        <ul class="actions pagination">
                                            <li><a href="" class="disabled button large previous">Previous Page</a></li>
                                            <li><a href="#" class="button large next">Next Page</a></li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>

				
				<!-- About -->
					<section class="blurb">
						<h2>About</h2>
						<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
						

					</section>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script type='text/javascript'>
				// Get the modal
				var modal = document.getElementById('myModal');
		
				// Get the button that opens the modal
				var btn = document.getElementsByClassName("Mainimg");
		
				// Get the <span> element that closes the modal
				var span = document.getElementsByClassName("close")[0];                                          
		
				// When the user clicks on the button, open the modal 
				btn.onclick = function() {
					modal.style.display = "block";
				}
		
				// When the user clicks on <span> (x), close the modal
				span.onclick = function() {
					modal.style.display = "none";
				}
		
				// When the user clicks anywhere outside of the modal, close it
				window.onclick = function(event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
				}
			</script>

	</body>
</html>