<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class='form-header'>
        <h1>Create your account</h1>
    </header>

    <form action='{% url 'signin' %}' method='POST'> {% csrf_token %}
        <div>
            <label for='user_id'>아이디를 입력하세요</label>
            <input name='user_id'/>
        </div>
        <div>
            <label for='user_pw'>비밀번호를 입력하세요</label>
            <input name='user_pw'/>
            <br/>
            <label for='user_pw_check'>비밀번호를 한번더 입력하세요</label>
            <input name='user_pw_check'/>
        </div>
        <div>
            <label for='name'>이름을 입력하세요</label>
            <input name='name'/>
        </div>
        <div>
            <label for='email'>이메일을 입력하세요</label>
            <input name='email'/>
        </div>
        <div>
            <label for='phone_num'>휴대폰번호를 입력하세요</label>
            <input name='phone_num'/>
        </div>
        <div>
            <filedset>
                <label for='user_major', class='radio_label'>전공</label>
                <input id='user_major',
                       name='user_type',
                       type='radio',
                       value='봉사자'/>         
        </div>
        <div>
            <button type='submit'>등록하기</button>
        </div>
        <div>
            <a href='{% url 'signin' %}'>뒤로가기</a>
        </div>
        </form>
</body>

</html>