<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='home-button'>
        <a href='{% url 'home' %}'>home</a>
    </div>
    <div class='container'>
        <h1>Create your account</h1>
        
        <form method='POST', action="{% url 'signup' %}">
            {% csrf_token %}
            ID:
            <br>
            <input name='user_id' type='text'>
            <br> 
            Password:
            <br>
            <input name='user_pw' type='password'>
            <br>
            Confirm Password:
            <br>
            <input name='user_pw_check' type='password'>
            <br>
            Username:
            <br>
            <input name='user_name' type='text'>
            <br>
            E-mail:
            <br>
            <input name='user_email' type='text'>
            <br>
            Major:
            <br>
            <select name='major_lst' size=1>
            {% for major in major_lst %}
                <option value= {{ major }}>{{ major }}</option>
            {% endfor %}
            </select>
            <br>
            Phone_Number:
            <br>
            <input name='user_phone_num' type='text'>
            <br>
            <br>
            <input type='submit' class='btn btn-primary' value='sign up'>
        </form>
    </div>
</body>

</html>